.coc-go-play-view {
  height: 100vh;
  width: 100%;
  background-color: #242424;
  display: flex;

  .image-area {
    height: 100%;
    width: calc(100% - 24rem);
    padding: 1.2rem;

    .image-cover {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100% - 4.4rem);
    }
    .kp-talking-cover {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  .player-area {
    height: 100%;
    width: 52rem;
    padding: 1.2rem;
  }
}